@import "@/src/App/utils/utils.scss";

.topnav {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: $accent;
}

.linksWrapper {
    button {
        margin-left: 15px;
    }
}

.links {
    display: inline;
    margin-right: 15px;

    li {
        display: inline-block;
        margin-left: 15px;
        color: #7E7E7E;

        &:first-child {
            margin-left: 0;
        }
    }
}