@import "@/styles/bootstrap.scss";

.view {
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;

    @include respond-to(null, "sm") {
        padding-top: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.grayPane {
    width: 100%;
    height: 100%;
    background-color: #29292e;
    border-radius: 8px;
    border: 1px solid #141417;
    padding: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.header {
    flex: none;
    border-bottom: 1px solid #4c4c52;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
