@import "@/styles/bootstrap.scss";

.wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

.containerWrapper {
    margin: auto;
    padding: 15px;
    transform: translateY(-50px);

    @include respond-to(null, "sm") {
        transform: none;
    }
}

.container {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #1c1c20;
    border: 1px solid #29292e;
    overflow: hidden;
    width: 550px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;

    @include respond-to(null, "sm") {
        width: 100% !important;
    }
}

.header {
    flex: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #141417;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        user-select: none;
        font-weight: bold;
        font-size: 19px;
        color: #fff;
    }

    .closeButton {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px;

        &:hover {
            svg {
                fill: $color-primary;
            }
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.body {
    padding-top: 10px;
    flex: 1;
}

.footer {
    padding-top: 20px;
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    & > button {
        min-width: 120px;
    }
}

.loadingOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #141417dd;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 70px;
        height: 70px;
    }
}
