@import "@/styles/bootstrap.scss";

.eventDetails {
    padding: 20px 20px 40px 20px;

    @include respond-to(null, "sm") {
        padding-top: 0;
    }

    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.header {
    border: 1px solid #141417;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: #29292e;

    @include respond-to(null, "md") {
        height: 240px;
    }

    .backgroundImage {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        user-select: none;
        opacity: 0.7;
    }

    .gradientOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(0, rgba(41, 41, 46, 1) 20%, rgba(41, 41, 46, 0) 100%);
    }

    .userData {
        position: absolute;
        z-index: 3;
        left: 20px;
        bottom: 20px;
        display: flex;
        gap: 20px;
        align-items: center;

        .userImage {
            width: 100px;
            height: 100px;
            border: 1px solid #141417;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
            flex: none;
            user-select: none;
        }

        .userDetails {
            display: flex;
            gap: 8px;
            flex-direction: column;

            @include respond-to(null, "md") {
                align-self: flex-start;
            }
        }

        .userDetailsRow.contact {
            display: flex;
            margin: 0;
        }

        @include respond-to(null, "md") {
            .userDetailsRow {
                flex-direction: column;
                align-items: flex-start;

                .detailsSeparator {
                    display: none;
                }

                .detailsTitle {
                    margin-bottom: 10px;
                    margin-right: 0;
                }

                &.contact {
                    display: none;
                }
            }
        }
    }
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #141417;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userDetailsRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 20px;

    & > * {
        white-space: nowrap;
        color: #a1a1a1;
    }

    .detailsSeparator {
        margin: 0 20px;
        min-width: 1px;
        width: 1px;
        height: 16px;
        background-color: #6e6e70;
    }

    &.contactSM {
        margin-top: 20px;

        @include respond-to(null, "sm") {
            flex-direction: column;
            align-items: flex-start;
        }

        @include respond-to("md", null) {
            display: none;
        }
    }
}

.participantsListWrapper {
    overflow: auto;
    max-height: 300px;
    margin-top: 10px;
}

.participantsList {
    width: 100%;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;

    .participantCell {
        border-bottom: 1px solid #4c4c52;
        position: relative;
        height: 45px;
        color: #a1a1a1;
        display: flex;
        align-items: center;
        // justify-content: space-between;

        .deletUserIcon {
            width: 18px;
            height: 18px;
            position: absolute;
            cursor: pointer;
            right: 0;

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
        }
    }

    .signUpCell {
        cursor: pointer;

        &:hover {
            .signUp {
                text-decoration: underline;
            }
        }
    }

    .signUp {
        color: $color-primary;
        font-weight: bold;
    }

    @include respond-to(null, "md") {
        grid-template-columns: 1fr;
    }
}

.description {
    margin-top: 20px;
    color: #a1a1a1;
}
