/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/main.scss ***!
  \*******************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Content/Content.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
.Content_content__N7iV_ {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}
/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Content/MapViewer/MapViewer.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.MapViewer_mapViewer__PLqFb {
  flex: 30%;
  min-width: 500px;
}

.MapViewer_mapViewer__PLqFb {
  border-radius: 15px;
  overflow: hidden;
  flex: auto;
  border: 1px solid #29292e;
  background-color: #29292e;
}
@media (max-width: 992px) {
  .MapViewer_mapViewer__PLqFb {
    display: none;
  }
}
/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Footer/Footer.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.Footer_footer__rz66K {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
}
@media (max-width: 992px) {
  .Footer_footer__rz66K {
    display: none;
  }
}

.Footer_links__LKe6A {
  display: flex;
  gap: 20px;
}
/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Topbar/Topbar.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.Topbar_topbar__l9aHb {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
}

.Topbar_logo__lfRZ6 {
  color: #ce8f3e;
  font-size: 30px;
  font-weight: 1000;
}

.Topbar_links__kWo0U {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
@media (max-width: 992px) {
  .Topbar_links__kWo0U {
    display: none;
  }
}
/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/form/Button/Button.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
.Button_blackButton__yyGc0, .Button_grayButton__nvljN, .Button_orangeButton__EJ5Hq {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  padding: 0 14px;
  white-space: nowrap;
  border: 1px solid #141417;
  cursor: pointer;
}
.Button_blackButton__yyGc0:active, .Button_grayButton__nvljN:active, .Button_orangeButton__EJ5Hq:active {
  border: 1px solid #141417 !important;
}

.Button_orangeButton__EJ5Hq {
  color: #141417;
  background-color: #ce8f3e;
  font-weight: bold;
}

.Button_grayButton__nvljN {
  color: #fff;
  background-color: #29292e;
}

.Button_blackButton__yyGc0 {
  color: #fff;
  background-color: #141417;
}
/*!***********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/StarRating/StarRating.scss ***!
  \***********************************************************************************************************************************************************************************************************************************/
.StarRating_starRating__fNRkW {
  unicode-bidi: bidi-override;
  color: #545455 !important;
  position: relative;
  padding: 0;
  align-items: center;
  font-size: 20px;
  height: 20px;
  user-select: none;
  display: inline-flex;
}

.StarRating_ratingUpper__LZJEQ {
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  color: #ce8f3e !important;
}

.StarRating_ratingLower__rZr6S {
  padding: 0;
  display: flex;
  z-index: 0;
}
/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/Events/EventDetails/EventDetails.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.EventDetails_eventDetails__ED288 {
  padding: 20px 20px 0px 20px;
  height: 100%;
  overflow-y: auto;
}
@media (max-width: 576px) {
  .EventDetails_eventDetails__ED288 {
    padding-top: 0;
  }
}
.EventDetails_eventDetails__ED288::-webkit-scrollbar {
  display: none;
}

.EventDetails_header__xH9SS {
  border: 1px solid #141417;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #29292e;
}
@media (max-width: 767px) {
  .EventDetails_header__xH9SS {
    height: 240px;
  }
}
.EventDetails_header__xH9SS .EventDetails_backgroundImage__KWj0s {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  user-select: none;
  opacity: 0.7;
}
.EventDetails_header__xH9SS .EventDetails_gradientOverlay__mYQcg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0, #29292e 20%, rgba(41, 41, 46, 0) 100%);
}
.EventDetails_header__xH9SS .EventDetails_userData__dyuQM {
  position: absolute;
  z-index: 3;
  left: 20px;
  bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userImage__v7ts1 {
  width: 100px;
  height: 100px;
  border: 1px solid #141417;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  flex: none;
  user-select: none;
}
.EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetails__azWMZ {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
@media (max-width: 767px) {
  .EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetails__azWMZ {
    align-self: flex-start;
  }
}
.EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetailsRow__E19ux.EventDetails_contact__uV1N_ {
  display: flex;
  margin: 0;
}
@media (max-width: 767px) {
  .EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetailsRow__E19ux {
    flex-direction: column;
    align-items: flex-start;
  }
  .EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetailsRow__E19ux .EventDetails_detailsSeparator__o78Yf {
    display: none;
  }
  .EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetailsRow__E19ux .EventDetails_detailsTitle___qdjK {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .EventDetails_header__xH9SS .EventDetails_userData__dyuQM .EventDetails_userDetailsRow__E19ux.EventDetails_contact__uV1N_ {
    display: none;
  }
}

.EventDetails_userDetailsRow__E19ux {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 20px;
}
.EventDetails_userDetailsRow__E19ux > * {
  white-space: nowrap;
  color: #a1a1a1;
}
.EventDetails_userDetailsRow__E19ux .EventDetails_detailsTitle___qdjK {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
.EventDetails_userDetailsRow__E19ux .EventDetails_detailsSeparator__o78Yf {
  margin: 0 20px;
  min-width: 1px;
  width: 1px;
  height: 16px;
  background-color: #6e6e70;
}
.EventDetails_userDetailsRow__E19ux.EventDetails_contactSM__w3TV8 {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #141417;
}
@media (max-width: 576px) {
  .EventDetails_userDetailsRow__E19ux.EventDetails_contactSM__w3TV8 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 767px) {
  .EventDetails_userDetailsRow__E19ux.EventDetails_contactSM__w3TV8 {
    display: none;
  }
}
/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/Icon/Icon.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.Icon_icon__mcVi0 {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #fff;
  gap: 7px;
  width: auto;
}
.Icon_icon__mcVi0 .Icon_svgContainer__ZSHk8 {
  min-width: 15px;
  width: auto;
  height: 15px;
}
.Icon_icon__mcVi0 .Icon_text__a6rd3 {
  color: #a1a1a1;
}
/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Content/Scrollbar/Scrollbar.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.Scrollbar_scrollbar__BNjtG {
  margin: 15px 2px 15px 2px;
  border-radius: 4px;
  width: 10px;
  flex: none;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .Scrollbar_scrollbar__BNjtG {
    display: none;
  }
}
.Scrollbar_scrollbar__BNjtG .Scrollbar_thumb__PYWQO {
  background-color: #ce8f3e;
  border-radius: 3px;
  width: 100%;
  position: absolute;
}
/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/Events/EventsView.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
.EventsView_eventsView__xZBdE {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.EventsView_filters__sQnRI {
  height: 60px;
  width: 100%;
  flex: none;
}

.EventsView_containerWrapper__jZuPk {
  min-height: 0;
  flex: 1;
  overflow: auto;
}
.EventsView_containerWrapper__jZuPk::-webkit-scrollbar {
  display: none;
}

.EventsView_eventTilesContainer__t4uoR {
  display: grid;
  gap: 20px;
  padding: 0 20px 20px 20px;
  grid-template-columns: repeat(4, 1fr);
  transition: padding 0.2s, gap 0.2s;
}
@media (max-width: 576px) {
  .EventsView_eventTilesContainer__t4uoR {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 15px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .EventsView_eventTilesContainer__t4uoR {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .EventsView_eventTilesContainer__t4uoR {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .EventsView_eventTilesContainer__t4uoR {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1401px) and (max-width: 1600px) {
  .EventsView_eventTilesContainer__t4uoR {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/Events/EventTile.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.EventTile_eventTile__lIMZH {
  position: relative;
  min-width: 0;
  /* POD ŻADNYM POZOREM NIE USUWAĆ TEJ LINII !!! */
  cursor: pointer;
}
.EventTile_eventTile__lIMZH:hover .EventTile_tile__B_5Ul {
  background-color: #29292e;
}
.EventTile_eventTile__lIMZH:hover .EventTile_border__ZbEgf {
  opacity: 0.5;
}
.EventTile_eventTile__lIMZH:hover .EventTile_image__C_uhR {
  opacity: 1;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));
}
.EventTile_eventTile__lIMZH .EventTile_border__ZbEgf {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #29292e;
  z-index: 1;
  opacity: 0.15;
  border-radius: 8px;
  transition: opacity 0.2s;
}
.EventTile_eventTile__lIMZH .EventTile_tile__B_5Ul {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  margin: 1px;
  z-index: 2;
  padding: 10px;
  background-color: #18181c;
  transition: background-color 0.2s;
}
.EventTile_eventTile__lIMZH .EventTile_icon__Or7KI {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 20px;
  height: 36px;
  width: 31px;
  border: 1px solid #000;
  border-top: none;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-top-left-radius: 4px;
  padding: 10px 5px 5px 5px;
}
.EventTile_eventTile__lIMZH .EventTile_icon__Or7KI svg {
  fill: #000;
  width: 100%;
  height: auto;
}
.EventTile_eventTile__lIMZH .EventTile_image__C_uhR {
  border-radius: 8px;
  object-fit: cover;
  height: 180px;
  width: 100%;
  transition: 0.2s;
}
.EventTile_eventTile__lIMZH .EventTile_detailsRow__OsKXy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  gap: 10px;
}
.EventTile_eventTile__lIMZH .EventTile_locationName__k5oB4 {
  font-weight: 500;
  font-size: 14px;
}
.EventTile_eventTile__lIMZH .EventTile_address__x8wPk {
  color: gray;
}
.EventTile_eventTile__lIMZH .EventTile_locationName__k5oB4,
.EventTile_eventTile__lIMZH .EventTile_address__x8wPk {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.EventTile_eventTile__lIMZH .EventTile_price__g4GKz {
  font-weight: 500;
  font-size: 14px;
}
.EventTile_eventTile__lIMZH .EventTile_date__oiwCO {
  color: gray;
}
.EventTile_eventTile__lIMZH .EventTile_divider__BLTA5 {
  height: 1px;
  background-color: #353538;
  margin: 10px 0;
}
.EventTile_eventTile__lIMZH .EventTile_busyBar__YcRW1 {
  height: 8px;
  border-radius: 4px;
  flex-grow: 1;
  background-color: #353538;
  max-width: 130px;
  overflow: hidden;
}
.EventTile_eventTile__lIMZH .EventTile_busyBar__YcRW1 .EventTile_innerBar__EiWn0 {
  border-radius: 4px;
  height: 100%;
  background-color: #7ab661;
}
/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/ProgressBar/ProgressBar.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.ProgressBar_progressBar__HoHA1 {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #353538;
  overflow: hidden;
}
.ProgressBar_progressBar__HoHA1 .ProgressBar_innerBar__bG0RJ {
  border-radius: 4px;
  height: 100%;
  background-color: #7ab661;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/SportFacilities/SportFacilityDetails/Calendar/Calendar.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.Calendar_wrapper__HEOvC {
  overflow-x: auto;
}
.Calendar_wrapper__HEOvC::-webkit-scrollbar {
  display: none;
}
@media (max-width: 576px) {
  .Calendar_wrapper__HEOvC {
    margin: 0 -20px;
  }
}

.Calendar_calendar__X5VCI {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.Calendar_calendar__X5VCI th,
.Calendar_calendar__X5VCI td {
  border-top: 1px solid #29292e;
  border-left: 1px solid #29292e;
  margin: 0;
  padding: 0;
}
.Calendar_calendar__X5VCI th {
  padding: 0 15px;
}
.Calendar_calendar__X5VCI tr td:last-child,
.Calendar_calendar__X5VCI tr th:last-child {
  color: #ce8f3e;
}
.Calendar_calendar__X5VCI tr:last-child td {
  border-bottom: 1px solid #29292e;
}
.Calendar_calendar__X5VCI tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.Calendar_calendar__X5VCI tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.Calendar_calendar__X5VCI td:last-child,
.Calendar_calendar__X5VCI th:last-child {
  border-right: 1px solid #29292e;
}
.Calendar_calendar__X5VCI thead {
  font-weight: bold;
  text-align: left;
}
.Calendar_calendar__X5VCI thead tr {
  height: 50px;
}
.Calendar_calendar__X5VCI thead tr th {
  user-select: none;
}
.Calendar_calendar__X5VCI thead tr th:first-child {
  border-top-left-radius: 8px;
}
.Calendar_calendar__X5VCI thead tr th:last-child {
  border-top-right-radius: 8px;
}
.Calendar_calendar__X5VCI .Calendar_cell__XDehA {
  user-select: none;
  padding: 15px;
  min-width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.2s;
  cursor: pointer;
}
.Calendar_calendar__X5VCI .Calendar_cell__XDehA:not(.Calendar_disabled__UNQkG):hover {
  background-color: #29292e;
}
.Calendar_calendar__X5VCI .Calendar_cell__XDehA.Calendar_disabled__UNQkG {
  cursor: default;
  opacity: 0.2;
}
@media (max-width: 576px) {
  .Calendar_calendar__X5VCI {
    margin: 0 20px;
  }
  .Calendar_calendar__X5VCI th {
    padding: 0 10px;
  }
  .Calendar_calendar__X5VCI thead tr {
    height: 35px;
  }
  .Calendar_calendar__X5VCI .Calendar_cell__XDehA {
    padding: 10px;
    height: 80px;
  }
}

.Calendar_tooltip__J3sUQ {
  background-color: #ce8f3e55 !important;
  border-radius: 8px !important;
  opacity: 1 !important;
  color: #fff !important;
  text-align: center !important;
  padding: 5px !important;
  margin: 5px !important;
  border: 1px solid #ce8f3e !important;
  backdrop-filter: blur(5px);
}
.Calendar_tooltip__J3sUQ::after, .Calendar_tooltip__J3sUQ::before {
  content: none !important;
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/SportFacilities/SportFacilityDetails/SportFacilityDetails.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.SportFacilityDetails_sportFacilityDetails__oCz_1 {
  padding: 20px 20px 0px 20px;
  height: 100%;
  overflow-y: auto;
}
@media (max-width: 576px) {
  .SportFacilityDetails_sportFacilityDetails__oCz_1 {
    padding-top: 0;
  }
}
.SportFacilityDetails_sportFacilityDetails__oCz_1::-webkit-scrollbar {
  display: none;
}

.SportFacilityDetails_header__yPn4M {
  border: 1px solid #141417;
  border-radius: 8px;
  background-color: #29292e;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: 0;
}
@media (max-width: 576px) {
  .SportFacilityDetails_header__yPn4M {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_logo__A4I4R {
  flex-shrink: 2;
  height: 85px;
  width: 240px;
  min-width: 180px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  padding: 15px;
  opacity: 0.7;
  transition: opacity 0.2s;
}
@media (max-width: 576px) {
  .SportFacilityDetails_header__yPn4M .SportFacilityDetails_logo__A4I4R {
    width: 100%;
  }
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_logo__A4I4R:hover {
  opacity: 1;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_logo__A4I4R img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_details__RQCGx {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 5px;
  min-width: 0;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_details__RQCGx .SportFacilityDetails_stars__BDklD {
  color: #ce8f3e;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_details__RQCGx .SportFacilityDetails_name__KqzkR {
  color: #ce8f3e;
  font-weight: bold;
  font-size: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_details__RQCGx .SportFacilityDetails_location__fBdaM {
  color: #a1a1a1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_buttons__sCUHA {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
@media (max-width: 1400px) {
  .SportFacilityDetails_header__yPn4M .SportFacilityDetails_buttons__sCUHA {
    display: none;
  }
}
.SportFacilityDetails_header__yPn4M .SportFacilityDetails_buttons__sCUHA > * {
  width: 140px;
}

.SportFacilityDetails_navButtonsWrapper__AhFtf {
  overflow-x: auto;
  min-width: 0;
  padding: 20px 0;
}
.SportFacilityDetails_navButtonsWrapper__AhFtf::-webkit-scrollbar {
  display: none;
}
@media (max-width: 576px) {
  .SportFacilityDetails_navButtonsWrapper__AhFtf {
    margin: 0 -20px;
  }
}
.SportFacilityDetails_navButtonsWrapper__AhFtf .SportFacilityDetails_navButtons__dnpxL {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  min-width: 100%;
}
@media (max-width: 1400px) {
  .SportFacilityDetails_navButtonsWrapper__AhFtf .SportFacilityDetails_navButtons__dnpxL {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .SportFacilityDetails_navButtonsWrapper__AhFtf .SportFacilityDetails_navButtons__dnpxL {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    margin: 0 20px;
    gap: 10px;
  }
}

.SportFacilityDetails_sectionName__tfsJu {
  font-weight: bold;
  font-size: 19px;
  color: #fff;
}

.SportFacilityDetails_separator___d6Rb {
  width: 100%;
  height: 1px;
  background-color: #141417;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SportFacilityDetails_contactSection__wljYf {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .SportFacilityDetails_contactSection__wljYf {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.SportFacilityDetails_descriptionSection__iYGF6 .SportFacilityDetails_description__eTHs8 {
  margin: 20px 0;
  color: #a1a1a1;
}
.SportFacilityDetails_descriptionSection__iYGF6 .SportFacilityDetails_description__eTHs8 .SportFacilityDetails_seeMoreButton__wTODX {
  margin-top: 20px;
}

.SportFacilityDetails_calenadrSection__icL9j .SportFacilityDetails_calendar__U1TJ2 {
  margin: 20px 0;
}

.SportFacilityDetails_equipmentSection__iTesp {
  margin-top: 20px;
  display: block;
}
.SportFacilityDetails_equipmentSection__iTesp .SportFacilityDetails_equipmentGrid__Vr0NJ {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.SportFacilityDetails_equipmentSection__iTesp .SportFacilityDetails_disabledEquipmentItem__Dig9d {
  opacity: 0.2;
  cursor: not-allowed;
}

.SportFacilityDetails_gallerySection__tSXUh .SportFacilityDetails_gallery__kdTx7 {
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repear(1, min-content);
}
.SportFacilityDetails_gallerySection__tSXUh .SportFacilityDetails_gallery__kdTx7 .SportFacilityDetails_image__mXoNs {
  height: 220px;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
  border: 1px solid #141417;
}
.SportFacilityDetails_gallerySection__tSXUh .SportFacilityDetails_gallery__kdTx7 .SportFacilityDetails_image__mXoNs:hover {
  opacity: 1;
}
.SportFacilityDetails_gallerySection__tSXUh .SportFacilityDetails_gallery__kdTx7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/Link/Link.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.Link_link__DW2O2 {
  cursor: pointer;
}
.Link_link__DW2O2:hover {
  color: #ce8f3e;
  text-decoration: underline;
}
/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/views/User/UserView.scss ***!
  \**********************************************************************************************************************************************************************************************************************/
.UserView_userView__wD4e5 {
  margin: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #29292e;
  border-radius: 8px;
  border: 1px solid #141417;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 0;
  overflow-y: auto;
}
.UserView_userView__wD4e5::-webkit-scrollbar {
  display: none;
}
@media (max-width: 576px) {
  .UserView_userView__wD4e5 {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
.UserView_userView__wD4e5 .UserView_header___cw0_ {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4c4c52;
  height: 60px;
}
.UserView_userView__wD4e5 .UserView_header___cw0_ .UserView_title__jyLyU {
  font-weight: bold;
  font-size: 23px;
}
.UserView_userView__wD4e5 .UserView_userDataWrapper__CsjW1 {
  flex: 1;
  display: flex;
  gap: 25px;
}
@media (max-width: 1200px) {
  .UserView_userView__wD4e5 .UserView_userDataWrapper__CsjW1 {
    flex-direction: column;
  }
}
.UserView_userView__wD4e5 .UserView_leftColumn__ZUcfF {
  flex: none;
}
.UserView_userView__wD4e5 .UserView_leftColumn__ZUcfF .UserView_image__vcd8y {
  width: 150px;
  height: 150px;
  border: 1px solid #141417;
  border-radius: 8px;
  object-fit: cover;
}
.UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 {
  flex: 1;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
}
.UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 .UserView_groupHeader__xnga5 {
  font-weight: bold;
  font-size: 19px;
  grid-column: span 2;
  margin-top: 25px;
}
.UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 .UserView_groupHeader__xnga5:first-of-type {
  margin-top: 0;
}
.UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 .UserView_fieldName__oiVfp, .UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 .UserView_fieldValue__UZNLw {
  color: #a1a1a1;
  border-bottom: 1px solid #4c4c52;
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.UserView_userView__wD4e5 .UserView_rightColumn__qh0H1 .UserView_fieldValue__UZNLw {
  font-weight: bold;
  padding-left: 25px;
}
/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/form/Input/Input.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
.Input_input__en9Yu {
  position: relative;
}

.Input_label__YFp2G {
  margin-bottom: 3px;
  margin-left: 8px;
  color: #a1a1a1;
  display: block;
}

.Input_inputWrapper__bIYHM {
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 8px;
  border: 1px solid #29292E;
  position: relative;
  overflow: hidden;
  background-color: #141417;
}
.Input_inputWrapper__bIYHM input {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  color: #fff;
}
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/components/Modal/Modal.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
.Modal_wrapper__cnfIJ {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal_container__LeMIo {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  background-color: #1c1c20;
  border: 1px solid #29292e;
  overflow: hidden;
  width: 550px;
  margin: 15px;
  margin-top: -100px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Modal_header__oRxze {
  flex: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #141417;
  display: flex;
  align-items: center;
}
.Modal_header__oRxze .Modal_title__QKMeo {
  user-select: none;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
}

.Modal_body__HyK14 {
  padding-top: 10px;
  min-height: 120px;
  flex: 1;
}

.Modal_footer__Zfppu {
  padding-top: 20px;
  flex: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.Modal_footer__Zfppu > * {
  min-width: 120px;
}
/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/layout/Content/MainContainer/MainContainer.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
.MainContainer_mainContainer__RmFHB {
  flex: 50%;
  max-width: 1050px;
}

.MainContainer_mainContainer__RmFHB {
  position: relative;
  border-radius: 15px;
  height: 100%;
  background-color: #1c1c20;
  border: 1px solid #29292e;
  min-width: 0;
  min-height: 0;
}
.MainContainer_mainContainer__RmFHB .MainContainer_authButtons__hNft8 {
  position: absolute;
  right: 0;
  top: -30px;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}
.MainContainer_mainContainer__RmFHB .MainContainer_authButtons__hNft8 * {
  width: 120px;
  float: left;
  display: block;
}
@media (max-width: 576px) {
  .MainContainer_mainContainer__RmFHB {
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0 -20px -20px -20px;
  }
  .MainContainer_mainContainer__RmFHB .MainContainer_authButtons__hNft8 {
    right: 20px;
  }
}
/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./resources/assets/main.scss (1) ***!
  \***********************************************************************************************************************************************************************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none !important;
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #141417;
  color: #fff;
  font-size: 13px;
}
@media (max-width: 576px) {
  body {
    background-color: #1c1c20;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  transition: padding 0.2s;
}
@media (max-width: 576px) {
  #app {
    padding: 0 15px 15px 15px;
  }
}

/*# sourceMappingURL=app.css.map*/