@import "@/styles/bootstrap.scss";

.eventDetails {
    padding: 20px 20px 0px 20px;

    @include respond-to(null, "sm") {
        padding-top: 0;
    }

    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.header {
    border: 1px solid #141417;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: #29292e;

    .backgroundImage {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        user-select: none;
        opacity: 0.7;
    }

    .gradientOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(0, rgba(41, 41, 46, 1) 20%, rgba(41, 41, 46, 0) 100%);
    }

    .userData {
        position: absolute;
        z-index: 3;
        left: 20px;
        bottom: 20px;
        display: flex;
        gap: 20px;
        align-items: center;

        .userImage {
            width: 100px;
            height: 100px;
            border: 1px solid #141417;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
            flex: none;
            user-select: none;
        }

        .userDetails {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        .userDetailsRow {
            display: flex;
            align-items: center;

            & > * {
                white-space: nowrap;
                color: #a1a1a1;
            }

            .detailsTitle {
                font-size: 19px;
                font-weight: bold;
                color: #fff;
                margin-right: 20px;
            }

            .detailsSeparator {
                margin: 0 20px;
                width: 1px;
                height: 16px;
                background-color: #6e6e70;
            }
        }
    }
}
