@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./styles/bootstrap.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none !important;
    font-family: "Poppins", sans-serif;
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: $color-backgroud;
    color: #fff;
    font-size: 13px;

    @include respond-to(null, "sm") {
        background-color: #1c1c20;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}

button,
button:active,
button:focus {
    outline: none;
}

h1 {
    font-size: 19px;
    font-weight: bold;
    color: #fff !important;
    margin: 0;
}

:global {
    #app {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 40px;
        transition: padding 0.2s;

        @include respond-to(null, "sm") {
            padding: 0 15px 15px 15px;
        }
    }
}
