.input {
    position: relative;
    width: 100%;
    flex: 1;
    color: #a1a1a1;
}

.label {
    // font-size: 11px;
    margin-bottom: 3px;
    margin-left: 8px;
    color: #a1a1a1;
    display: block;
}

.inputWrapper {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 8px;
    border: 1px solid #29292E;
    position: relative;
    overflow: hidden;
    background-color: #141417;
    width: 100%;
    flex: 1;

    input {
        width: 100%;
        height: 100%;
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
        color: #a1a1a1;
        -webkit-appearance: none !important;
    }
}