@import "@/layout/layout.scss";

.mainContainer {
    @extend %left-column;

    position: relative;
    border-radius: 15px;
    height: 100%;
    background-color: #18181c;
    border: 1px solid #29292e;

    .authButtons {
        position: absolute;
        right: 0;
        top: -$topbar-height / 2;
        transform: translateY(-50%);

        * {
            width: 120px;
            margin-left: 8px;
            float: left;
        }
    }
}
