@import "@/styles/bootstrap.scss";

.locationSection {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include respond-to(null, "md") {
        grid-template-columns: 1fr;

        & > * {
            grid-column: initial !important;
        }
    }

    @include respond-to("md", "lg") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond-to("lg", "xl") {
        grid-template-columns: 1fr;

        & > * {
            grid-column: initial !important;
        }
    }

    @include respond-to("xl", "2xl") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.restSection {
    display: flex;
    gap: 20px;

    .eventImageWrapper {
        flex: none;
    }

    .label {
        margin-bottom: 3px;
        margin-left: 8px;
        color: #a1a1a1;
        display: block;
    }

    .eventImage {
        width: 160px;
        height: 180px;
        border: 1px solid #141417;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 10px;

        @include respond-to(null, "sm") {
            width: 100%;
            height: 220px;
        }
    }

    @include respond-to(null, "md") {
        flex-direction: column;
    }
}
