.container {
    position: fixed;
    top: 75px;
    right: 50px;
    bottom: 50px;
    width: 870px;
    height: calc(100% - 100px);
    border-radius: 15px;
    overflow: hidden;

    > * {
        width: 100%;
        height: 100%;
    }
}
