.eventTile {
    position: relative;
    min-width: 0; /* POD ŻADNYM POZOREM NIE USUWAĆ TEJ LINII !!! */
    cursor: pointer;

    &:hover {
        .tile {
            background-color: #29292e;
        }

        .border {
            opacity: 0.3;
        }

        .imageWrapper {
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));

            .image {
                transform: scale(1.07);
            }
        }
    }

    .border {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #29292e; // fallback
        z-index: 1;
        opacity: 0.15;
        border-radius: 8px;
        transition: opacity 0.2s;
    }

    .tile {
        position: relative;
        border-radius: 7px;
        overflow: hidden;
        margin: 1px;
        z-index: 2;
        padding: 10px;
        background-color: #18181c;
        transition: background-color 0.2s;
        opacity: 0.85;
    }

    .icon {
        position: absolute;
        z-index: 3;
        top: -2px;
        left: 20px;
        height: 36px;
        width: 31px;
        border: 1px solid #000;
        border-top: none;
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
        border-top-left-radius: 4px;
        padding: 10px 5px 5px 5px;

        svg {
            fill: #000;
            width: 100%;
            height: auto;
        }

        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
    }

    .imageWrapper {
        // opacity: 0.4;
        border-radius: 8px;
        height: 180px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        transition: 0.2s;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s;
        opacity: 0.8;
    }

    .detailsRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 0;
        gap: 10px;
    }

    .locationName {
        font-weight: 500;
        font-size: 14px;
    }

    .address {
        color: gray;
    }

    .locationName,
    .address {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .price {
        font-weight: 500;
        font-size: 14px;
    }

    .date {
        color: gray;
    }

    .divider {
        height: 1px;
        background-color: #353538;
        margin: 10px 0;
    }

    .busyBar {
        height: 8px;
        border-radius: 4px;
        flex-grow: 1;
        background-color: #353538;
        max-width: 130px;
        overflow: hidden;

        .innerBar {
            border-radius: 4px;
            height: 100%;
            background-color: #7ab661;
        }
    }
}
