@import "@/styles/bootstrap.scss";

.selectbox {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 14px;
    white-space: nowrap;
    border: 1px solid #141417;
    cursor: pointer;
    min-width: 0;
}