@import "@/styles/bootstrap.scss";

.rowContent {
    flex: 1;
}

.checkbox {
    flex: none;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 1px solid $color-primary;
    position: relative;

    &.checked::after {
        position: absolute;
        background-color: $color-primary;
        width: 8px;
        height: 8px;
        border-radius: 2px;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}