@import "@/styles/bootstrap.scss";

.selectBoxWrapper {
    flex: 1;
    position: relative;
}

.selectBox {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 14px;
    white-space: nowrap;
    border: 1px solid #141417;
    cursor: pointer;
    min-width: 0;
    background-color: #29292E;
    position: relative;

    .chevronArrow {
        transition: .2s ease-in-out;
        position: absolute;
        right: 14px;

        .open & {
            transform: rotate(180deg);
        }
    }

    &.transparent {
        padding: 0;
        background-color: transparent;
        border: none;

        .chevronArrow {
            right: 0;
        }
    }
}

.label {
    // font-size: 11px;
    margin-bottom: 3px;
    margin-left: 8px;
    color: #a1a1a1;
    display: block;
}

.itemsContainer {
    position: absolute;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #222227;
    border: 1px solid #29292E;
    overflow: hidden;
    min-height: 2 * 34px;
    min-width: 200px;
    max-width: 400px;
    z-index: 9999;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 20px;
}