@import "@/layout/layout.scss";

.footer {
    height: $topbar-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
}
