@import "@/styles/bootstrap.scss";

.footer {
    height: $topbar-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: none;

    @include respond-to(null, "lg") {
        display: none;
    }
}

.links {
    display: flex;
    gap: 20px;
}
