@import "@/styles/bootstrap.scss";

.link {
    cursor: pointer;

    &.fixedColor {
        color: $color-primary;
    }

    &fixedUnderline {
        text-decoration: underline;
    }

    &:hover {
        color: $color-primary;
        text-decoration: underline;
    }
}