@import './utils/utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: $background-primary;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

html,
body {
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}

button,
button:active,
button:focus {
    outline: none;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}