@import "@/styles/bootstrap.scss";

.mainContainer {
    @extend %left-column;

    position: relative;
    border-radius: 15px;
    height: 100%;
    background-color: #1c1c20;
    border: 1px solid #29292e;
    min-width: 0;
    min-height: 0;

    .authButtons {
        position: absolute;
        right: 0;
        top: -$topbar-height / 2;
        transform: translateY(-50%);
        display: flex;
        gap: 10px;

        * {
            width: 120px;
            float: left;
            display: block;
        }
    }

    @include respond-to(null, "sm") {
        background-color: transparent;
        border-radius: 0;
        border: none;
        margin: 0 -20px -20px -20px;

        .authButtons {
            right: 20px;
        }
    }
}
