@import "@/styles/bootstrap.scss";

.userDataWrapper {
    flex: 1;
    display: flex;
    gap: 25px;

    @include respond-to(null, "xl") {
        flex-direction: column;
    }
}

.leftColumn {
    flex: none;

    .image {
        width: 160px;
        height: 160px;
        border: 1px solid #141417;
        border-radius: 8px;
        object-fit: cover;
    }
}

.rightColumn {
    flex: 1;

    .fieldRow {
        color: #a1a1a1;
        height: 50px;
        border-bottom: 1px solid #4c4c52;
        white-space: nowrap;
        display: flex;
        align-items: center;

        &:last-of-type {
            border-bottom: none;
            margin-bottom: 25px;
        }

        .fieldName {
            width: 150px;
            flex: none;
        }

        .fieldValue {
            padding-left: 25px;
            font-weight: bold;
            flex: 1;

            & > * {
                max-width: 350px !important;
            }

            .editMode & {
                font-weight: normal;
            }
        }
    }
}

.headerButtons {
    & > * {
        transition: none;
        float: left;
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.changeImageInput {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}