@import '@/layout/layout.scss';
@import '@/scss/bootstrap.scss';

.topbar {
    width: 100%;
    height: $topbar-height;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: none;
}

.logo {
    color: $color-primary;
    font-size: 30px;
    font-weight: 1000;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    @include respond-to(null, 'lg') {
        display: none;
    }
}