@import '@/layout/layout.scss';
@import '@/main.scss';

.topbar {
    width: 100%;
    height: $topbar-height;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.brandbar {
    @extend %left-column;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        color: $color-primary;
        font-size: 30px;
        font-weight: 1000;
    }

    .authButtons > * {
        width: 120px;
        margin-left: 8px;
        float: left;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 100% - $left-column-width;
    gap: 20px;
}