@import "@/styles/bootstrap.scss";

%button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 14px;
    border: 1px solid #141417;
    cursor: pointer;
}

.orangeButton {
    @extend %button;
    color: $color-backgroud;
    background-color: $color-primary;
    font-weight: bold;
}

.grayButton {
    @extend %button;
    color: #fff;
    background-color: #29292e;
}

.blackButton {
    @extend %button;
    color: #fff;
    background-color: #141417;
}