@import "@/styles/bootstrap.scss";

.button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 14px;
    white-space: nowrap;
    border: 1px solid #141417;
    cursor: pointer;
    min-width: 0;

    &:active {
        border: 1px solid #141417 !important;
    }

    .icon {
        margin-right: 8px;
        height: 22px;
        width: auto;
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.orangeButton {
    @extend .button;
    color: $color-backgroud;
    background-color: $color-primary;
    font-weight: bold;
}

.grayButton {
    @extend .button;
    color: #fff;
    background-color: #29292e;
}

.blackButton {
    @extend .button;
    color: #fff;
    background-color: #141417;
}

.facebookButton {
    @extend .button;
    background-color: #1877f2;
    color: #fff;
    height: 38px;
}

.googleButton {
    @extend .button;
    background-color: #fff;
    color: #808080;
    font-weight: 500;
    height: 38px;
}