@import "@/styles/bootstrap.scss";

.scrollbar {
    @include respond-to(null, "lg") {
        display: none;
    }

    margin: 15px 2px 15px 2px;
    border-radius: 4px;
    width: 10px;
    flex: none;
    position: relative;
    overflow: hidden;

    .thumb {
        height: 100px;
        background-color: $color-primary;
        border-radius: 3px;
        width: 100%;
        position: absolute;
    }
}
