@import "@/src/App/utils/utils.scss";

.container {
    max-width: 220px;

    background-color: #212123;
    box-shadow: 2px 2px 12px rgba(16, 16, 17, 0.4);
    border-radius: 8px;
    padding: 15px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #313136;

        .image {
            filter: saturate(1.5);
        }
    }
}

.innerContainer {
    width: 100%;
    height: 100%;
}

.imageContainer {
    width: 100%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: filter .3s ease-in-out;
}

.data {
    margin-top: 15px;
    position: relative;
}

.dataHeader {
    font-size: 16px;
    font-weight: bold;
    color: #D0D0D0;
    user-select: none;
}

.dataLocation {
    font-size: 13px;
    color: #666666;
    user-select: none;
}

.dataPrice {
    font-size: 14px;
    font-weight: bold;
    color: #D0D0D0;
    user-select: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dotsContainer {
    margin-top: 15px; 
    display: inline-block;

    > * {
        &:first-child {
            margin-left: 0;
        }

        margin-left: 5px;
    }
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4c4c50;
    float: left;
}

.dotInner {
    width: 0%;
    height: 100%;
    background-color: #ED8600;
}
